.logo-image-tecnologias{
    background-size:contain;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
}

.logo-image-habilidades{
    background-size:contain;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;    
}

